
.Container {
  width: 22%;
  margin: 10% auto;
}
.header {
  background: #1a1b21;
  border-radius: 15px 15px 0 0;
}
.img {
  width: 100%;
  min-height: 100%;
}
/* .main-header {
  text-align: center;
}
 */
.main-section {
  display: flex;
  flex-direction: column;
  background-color: #1a1b21;
  padding: 20px;
}
.main-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 8rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.linkedin {
  background-color: #5093e2;
  color: white;
}
.linkedin:hover {
  background-color: #134f94;
  transition: all 0.2s ease-in-out;
}

.email:hover {
  background-color: rgb(226, 221, 221);
  transition: all 0.2s ease-in-out;
}

.name {
  font-size: 1.9rem;
  color: white;
}
span {
  color: #f3bf99;
}
small {
  color: white;
}

.main-about {
  color: white;
}
.footer {
  background-color: #161619;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-details {
  margin: 20px 0;
}
